/* App.css */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  justify-content: flex-start; /* Adjust to start from top */
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px; /* Add some padding for spacing */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* New styles for the Plotter component */
.plot-container {
  flex-grow: 1; /* Allow the plot area to grow */
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: flex-start; /* Left align items */
  padding: 20px; /* Add padding */
}

.plot-area {
  flex-grow: 1; /* Allow plot area to take available space */
  max-width: 80%; /* Limit the maximum width */
}
